body{
    background-color:lightskyblue;
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.card{
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    color: white;
    padding: 20px;
    font-family: sans-serif;
    margin-bottom: 100px;
}
#inp{
    border: none;
    padding: 10px;
    border-radius: 10px;
}
#btn{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: burlywood;
}
.hidden{
    display: none;
}
.lod{
    background-color: rgba(0, 0, 0, 0.406);
    position: fixed;
    width: 100%;
    height: 100vh;
}
.loader {
    position: fixed;
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
  }
  @keyframes l4 {to{transform: rotate(1turn)}}